/* Dashboard.scss */

.dashboard {
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
}

.chart-container {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
// font-size: 12px;
  
  .add-assets-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
  }
  
  .add-assets-button:hover {
    background-color: #0056b3;
  }
  